# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs
*.log
logs/*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Coverage directory
coverage/

# Production build
dist/
