.drop-cap::first-letter {
    -webkit-initial-letter: 3;
    initial-letter: 3;
    color: orange;
    font-weight: bold;
    margin-right: 0.75em;
    text-decoration: orangered underline;
    text-decoration-thickness: 10px; 
}
article {
    width: 60%;
  }
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Slabo 27px";
    font-size: 1.5em;
    line-height: 1.5;
    padding: 50px 0;
  }

.class {
    font-weight: bold;
}
